@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/** Nav */
	li.nav-list {
		@apply relative flex flex-col items-center;
	}
	a.nav-link {
		@apply text-base font-semibold tracking-wider cursor-pointer transition-opacity duration-300 ease-in-out group-hover:opacity-80;
	}
	hr.nav-hr {
		@apply border-t-[3px] relative top-2 w-3/4 scale-x-0 group-hover:scale-x-100 group-focus:scale-x-100 group-active:scale-x-100 transition-transform duration-300 ease-in-out;
	}

	/** Font Styles */
	h1 {
		@apply font-black text-4xl tracking-wide leading-none md:text-6xl md:tracking-wider;
	}
	p {
		@apply font-normal text-base;
	}
	h3 {
		@apply font-semibold text-2xl;
	}

	/** Containers */
	section.section-container {
		@apply w-screen max-w-7xl h-screen pt-24;
	}

	/** Auth */
	/* Authenticators Button */
	button.auth-btn {
		@apply bg-white rounded-full w-9 h-9 flex items-center justify-center;
	}
}

* {
	font-family: "Poppins", sans-serif;
	color: white;
}

body {
	overflow-x: hidden;
	background-color: black;
	scroll-snap-type: y mandatory;

	-ms-overflow-style: none;
	scrollbar-width: none;

	position: relative;
}
body::-webkit-scrollbar {
	display: none;
	scrollbar-width: none;
}


/** Loader */
.animation-loading {
	animation: spin 1.2s infinite ease-in-out;
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
	animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
@-webkit-keyframes fade-in {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.fade-out {
	-webkit-animation: fade-out 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
	animation: fade-out 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@-webkit-keyframes fade-out {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
}
@keyframes fade-out {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
}

.slide-out-left {
	-webkit-animation: slide-out-left 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53)
		forwards;
	animation: slide-out-left 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
@-webkit-keyframes slide-out-left {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@keyframes slide-out-left {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		forwards;
	animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

